
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url("Components/container.css");
@import url("Components/avatar.css");
@import url("Components/banner.css");
@import url("Components/button.css");
@import url("Components/cards.css");



body {
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	 
}
h1,h2,h3 {
	font-family: 'Oswald', sans-serif;

}

h3 {
	font-weight: lighter;
}
h2 {
	color: #D8A229;
	margin-top: 50px;

}
h4{
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: bolder;
}